<!--
"""
# Alexander Phillips
# Building Secure Python Applications
# SDEV 300 6382 Building Secure Python
# lab 8
# March 7, 2023
#   Description: dps rotation
"""
-->
{% extends "layout.html" %}
{% block content %}
  <div class="Rotation">
    <h1>Rotation</h1>
    <p>Primary rotation for my ret paladin. First come, first served order</p>
     <!--print hte rotation-->
  <ul>
    {% for item in rotation %}
         <li > {{item}}</li >
    {% endfor %}
  </ul>
<div><img src="../static/images/Ret.jpg" alt="Penguin Wave" style="float:right;"></div>
  </div>
{% endblock %}