<!--        Group: Group 3
          Team Member -
               Project Manager: Malachi McCloud
               Lead Developer: Kevin Pineda
               Associate Developer: Alexander Phillips
               Quality Assurance: Jonathan Quinn
       Class:CMSC 495: Capstone in Computer Science
       Due Date:December 12, 2023
       Teacher: Professor Davis
       Description: Home html page
-->
{% extends "layout.html" %}
{% block content %}

<style>
    form {
        margin: 20px;
        padding: 20px;
        border: 1px solid #ccc;
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    select, input[type="submit"] {
        margin-bottom: 10px;
    }

    .description-box {
      border: 1px solid #ccc;
      background-color: #f8f8f8;
      padding: 20px;
      margin-bottom: 20px;
    }
</style>
<img src="{{ url_for('static', filename='/img/computer.png') }}" alt="computer" style=display:inline-block>

<p >You can do the following:</p>
<p >-----Select a location only for a job graph in that state</p>
<p >-----Select a job only for a job graph of that type</p>
<p >-----Select both a location and job for a table of jobs available.</p>






<form id="navigationForm" action="" method="post">
  <label for="areaDropdown">Select a location:</label>
  <select id="areaDropdown" name="area">
    <option value="NoSelection">No Selection</option>
    <option value="Washington">Washington</option>
    <option value="Virginia">Virginia</option>
    <option value="Maryland">Maryland</option>
    <option value="Utah">Utah</option>
    <option value="California">California</option>
    <option value="WashingtonDC">Washington DC</option>
  </select>

  <label for="jobDropdown">Select a Job:</label>
  <select id="jobDropdown" name="job">
    <option value="NoSelection">No Selection</option>
    <option value="SoftwareEngineer">Software Engineer</option>
    <option value="DataAnalyst">Data Analyst</option>
    <option value="CyberSecurityEngineer">Cyber Security Engineer</option>
    <option value="GameDeveloper">Game Developer</option>
    <option value="SystemsEngineer">Systems Engineer</option>
  </select>

  <input type="submit" value="Find Information">

</form>
{% endblock %}
