<!DOCTYPE html>
<!--Root element of an HTML document-->
<html>
<!--Container for head elements-->
    <head>
        <!--Title of HTML document-->
        <title>Cyber Security Awareness| {{title}}</title>
        <!--Relationship, text and URL to link a stylesheet-->
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='style.css') }}"/>
       <!--close head-->
    </head>
<!--Identifies web page content-->
    <body>
    <!--Defines section of web page-->
        <nav>
            <!--Unordered list-->
            <ul>
                <!--Navigation menu for different websites-->
             <li><a href="{{ url_for('homepage') }}">Cyber Security Awareness</a></li>
              <li><a href="{{ url_for('questions') }}">Ask a Question</a></li>
              <li><a href="{{ url_for('asked') }}">Questions Asked</a></li>
               <li><a href="{{ url_for('images') }}">Images</a></li>
              <li><a href="{{ url_for('table') }}">Table</a></li>
              <li><a href="{{ url_for('register') }}">Register</a></li>
                <li><a href="{{ url_for('update_password') }}">Update Password</a></li>
              <li style="float: right"><a href="{{ url_for('logout') }}">Logout</a></li>
              <li style="float: right"><a href="{{ url_for('contact') }}">Contact</a></li>
                <!--Close unordered list-->
            </ul>
            <!--Close nav-->
        </nav>
    <!--Level 1 heading-->
        <h1>Cyber Security Awareness</h1>
    <!--Paragraph containing discussing theft of valuable information -->
        <div class="=container">
          <p>
            Over the years, companies have collectively lost billions of dollars due to cyber-attacks.
            Threat actors steal personally identifiable information (PII), protected health information (PHI),
            intellectual property (IP), trade secrets, and other valuable information. Below are just some
            of the ways that businesses lose valuable information.
              <!--Close paragraph-->
          </p>
          <ul>
              <!--Define item in list and hyperlink-->
            <li>
              <a href="https://www.cisa.gov/known-exploited-vulnerabilities-catalog">
                  Vulnerabilities</a>
            </li>
              <!--Define item in list and hyperlink-->
            <li>
              <a href="https://securityintelligence.com/articles/13-costliest-cyberattacks-2022/">
                  Cyber Attacks</a>
            </li>
              <!--Define item in list and hyperlink-->
            <li>
              <a href="https://www.bleepingcomputer.com/tag/malware/">
                  Malware</a>
            </li>
              <!--Define item in list and hyperlink-->
            <li>
              <a href="https://threatpost.com/conducting-modern-insider-risk-investigations/179869/">
                  Insider Threats</a>
            </li>
              <!--Close unordered list-->
          </ul>
            <!--Level 2 heading-->
          <h2>Urgent Assistance</h2>
            <!--Urgent assistance paragraph-->
          <p>For urgent assistance, please click the link below</p>
            <!--Unordered list-->
          <ul>
              <!--Contact link-->
            <li><a href="{{url_for('contact') }}">Contact Us</a></li>
               <!--Close unordered list-->
          </ul>
            <!--Close div-->
        </div>
     <!--Display current date and time-->
    <p>Current date and time: {{ current_time }}</p>
    <!--End of content-->
   </body>
<!--Close html-->
</html>
