<!DOCTYPE html>
<!--Root element of an HTML document-->
<html>
<!--Container for head elements-->
  <head>
      <!--Title of HTML document-->
        <title>Images</title>
      <!--Relationship, text and URL to link a stylesheet-->
        <link
           rel="stylesheet"
           type="text/css"
           href="{{ url_for('static', filename='style.css') }}"/>
     <!--Close head-->
       <style>
            .image-container {
            display: flex;
            flex-wrap: wrap;
            }
            .image-container img {
            width: 50%;
            height: auto;
            margin: 10px;
            }
          </style>
  </head>
<!--Organize Web page content-->
<body>
  <!--Defines section of web page-->
    <nav>
      <!--Unordered list-->
      <ul>
         <!--Navigation menu for different websites-->
              <li><a href="{{ url_for('homepage') }}">Cyber Security Awareness</a></li>
              <li><a href="{{ url_for('questions') }}">Ask a Question</a></li>
              <li><a href="{{ url_for('asked') }}">Questions Asked</a></li>
              <li><a href="{{ url_for('table') }}">Table</a></li>
              <li><a href="{{ url_for('register') }}">Register</a></li>
              <li style="float: right"><a href="{{ url_for('logout') }}">Logout</a></li>
              <li style="float: right"><a href="{{ url_for('contact') }}">Contact</a></li>
                <!--Close unordered list-->
            </ul>
             <!--Close nav-->
        </nav>
    <!--Level 1 heading-->
        <h1>Cyber Security Awareness</h1>
    <!--Display images-->
        <div class="image-container">
            <img src="{{url_for('static', filename='image/cyber1.jpg')}}">
            <img src="{{url_for('static', filename='image/cyber2.jpg')}}">
            <img src="{{url_for('static', filename='image/cyber3.jpg')}}">
            <img src="{{url_for('static', filename='image/cyber4.jpg')}}">
          <!--Close div-->
        </div>
    <!--End of content-->
  </body>
  <!--Close html-->
</html>