<!--        Group: Group 3
          Team Member -
               Project Manager: Malachi McCloud
               Lead Developer: Kevin Pineda
               Associate Developer: Alexander Phillips
               Quality Assurance: Jonathan Quinn
       Class:CMSC 495: Capstone in Computer Science
       Due Date:December 12, 2023
       Teacher: Professor Davis
       Description: html file for maryland  jobs
-->
{% extends "layout.html" %}
{% block content %}
    <html>
<head>
   <a class="btn btn-info" href="/" role="button">Back to Search</a>
    <title>Distribution</title>
</head>
<body>
    <h1>Distribution of jobs in Maryland</h1>
    <img src="{{ url_for('static', filename='/img/dist_mary.png') }}" alt="Distribution of jobs in Maryland">
<div class="description-box">
    <p>Data was pulled December 4th, 2023</p>
</div>
</body>
</html>

{% endblock %}