<!--
"""
# Alexander Phillips
# Building Secure Python Applications
# SDEV 300 6382 Building Secure Python
# lab 8
# March 7, 2023
#   Description: Mounts I want in  a table
"""
-->
{% extends "layout.html" %}
{% block content %}
  <div class="mounts">
 <table >
  <tr>
    <th>Phase 1</th>
    <th>Phase 2</th>
    <th>Phase 3</th>
    <th>Phase 4</th>
  </tr>
  <tr>
    <td>Reins of the Black Drake</td>
    <td>Mimiron's Head</td>
    <td>Crusader's Black Warhorse</td>
    <td>Invincible's Reins</td>
  </tr>
  <tr>
    <td>Reins of the Twilight Drake</td>
    <td>Reins of the Ironbound Proto-Drake</td>
    <td>Deadly Gladiator's Frost Wyrm</td>
    <td>Furious Gladiator's Frost Wyrm</td>

  </tr>
       <tr>
    <td>Reins of the Black Proto-Drake</td>
    <td>Reins of the Rusted Proto-Drake</td>
    <td>Swift Horde Wolf</td>
    <td>Reins of the Bloodbathed Frostbrood Vanquisher</td>
  </tr>
       <tr>
    <td>Reins of the plagued Proto Drake</td>
    <td>Timelost Protodrake</td>
    <td>Swift Zulian Tigar</td>
    <td>Reins of the Icebound Frostbrood Vanquisher</td>
  </tr>
            <tr>
    <td></td>
    <td>Reins of the Violet Proto-Drake</td>
    <td></td>
    <td>Argent Crusader steed</td>
  </tr>
</table>

  </div>
{% endblock %}