<!DOCTYPE html>
<!--Root element of an HTML document-->
<html>
<!--Container for head elements-->
    <head>
        <!--Title of HTML document-->
        <title>questions</title>
        <!--Relationship, text and URL to link a stylesheet-->
        <link
           rel="stylesheet"
           type="text/css"
           href="{{ url_for('static', filename='style.css') }}"/>
        <!--centers the text for h1-->
        <style>
            h1 {
            text-align: center;
           }
        </style>
        <!--close head-->
    </head>
<!--Identifies web page content-->
    <body>
    <!--Level 1 heading-->
      <h1>Ask a Question</h1>
    <!--Level 1 heading-->
      <h2>What happens when you ask a question?</h2>
    <!--Center as well as align content-->
      <div class="center">
          <!--Paragraph discussing valid questions-->
        <p>
          When you ask a question, others can view it. We ask that you do not ask a
          question that has already been addressed on our website. It is also important
          that you read the questions on our Questions Asked page to ensure the same
          question has not already been asked.
        </p>
          <!--Create card container-->
        <div class="card">
            <!--Allow user to enter their name-->
           <form action="{{ url_for('asked') }}" method="post">
             <label class="card-text" for="name">Name:</label>
             <input type="text" name="name" id="name" maxlength="30" required />
            <!--Allow user to enter their email-->
             <label class="card-text" for="email">Email:</label>
             <input type="email" name="email" id="email" maxlength="30" required />
               <!--Allow user to enter their question-->
             <label class="card-text" for="questions">Question:</label>
             <textarea name="questions" id="questions" rows="5" maxlength="500" required></textarea>
               <!--Button to submit question-->
             <button type="submit">Submit</button>
               <!--Close form-->
           </form>
            <!--Close div-->
        </div>
          <!--Level 3 heading-->
        <h3>Questions that have already been asked</h3>
          <!--Paragraph explaining where to find questions that have already been asked-->
          <p>After you ask a question, you can view it at the link below.</p>
          <!--Unordered list-->
          <ul>
              <!--Link to view questions that have already been asked-->
            <li><a href="{{ url_for('asked') }}">Questions Asked</a></li>
              <!--Close unordered list-->
          </ul>
          <!--Display current date and time-->
          <p>Current date and time: {{current_time }}</p>
          <!--Close div-->
      </div>
    <!--End of content-->
    </body>
<!--Close html-->
</html>
