<!DOCTYPE html>
<!--Root element of an HTML document-->
<html lang="en">
<!--Container for head elements-->
  <head>
    <!--UTF-5 charter-->
    <meta charset="UTF-8">
      <!--Title of HTML document-->
    <title>Password Update</title>
     <!--Relationship, text and URL to link a stylesheet-->
          <link rel="stylesheet"
                type="text/css"
                href="{{ url_for('static', filename='login.css') }}">
           <!--close head-->
          </head>
          <!--Defines section of web page-->
            <body>
              <!--Level 1 heading-->
              <h1>Password Update</h1>
                <!--container for login-related content-->
                <div class="register">
                  <!--Level 1 heading-->
                  <h1>Change Password</h1>
                  <!--Form for user input-->
                   <form action="{{ url_for('update_password') }}" method="post" autocomplete="off">
                    <label for="current_password">
                      <i class="fas fa-lock"></i>
                    </label>
                    <!--Text field for current input-->
                    <input type="password" name="current_password" placeholder="Current Password" id="current_password" required>
                    <label for="new_password">
                       <i class="fas fa-lock"></i>
                    </label>
                     <!--Text field for new password input-->
                    <input type="password" name="new_password" placeholder="New Password" id="new_password"
                            title="The password must be at least 12 characters in length, and
                            include at least 1 uppercase character, 1 lowercase
                            character, 1 number and 1 special character."
                           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{12,}" required>
                    <!--Text field for current password input-->
                    <label for="confirm_password">
                     <i class="fas fa-envelope"></i>
                    </label>
                     <!--Text field for password input-->
                    <input type="password" name="confirm_password" placeholder="Confirm New Password"
                           id="confirm_password" required>
                    <!--Check for messages-->
                  {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                  {% for category, messages in messages %}
                    <!-- Invalid messages-->
                    <div class="msg {{ category }}">{{messages}}</div>
                    <!--End loop and statements-->
                  {% endfor %}
                  {% endif %}
                  {% endwith %}
                    <!--Submit inputs-->
                  <input type="submit" value="Update Password">
                    <!--Close form-->
                    </form>
                  <!--Close div-->
              </div>
       <!--End of content-->
   </body>
 <!--Close html-->
</html>