{% extends "layout.html" %}
{% block content %}
<html>
<head>
    <a class="btn btn-info" href="/" role="button">Back to Search</a>
    <title>Utah Software Engineering Jobs</title>
</head>
<body>
    <h1>Available Jobs</h1>
    <p>Click the link below to visit LinkedIn</p>
    <a href="https://www.linkedin.com/jobs/search/?currentJobId=3756520186&geoId=104102239&keywords=software%20engineer
    &location=Utah%2C%20United%20States&origin=JOB_SEARCH_PAGE_LOCATION_AUTOCOMPLETE&refresh=true">Visit LinkedIn.com</a>
</body>
</html>

{% endblock %}

